.recipe h3{
	margin-left:0.5%;
	font-size: 1.4em;
	
}
.recipe 
{
	font-family: sans-serif;
}
.recipe h2{
	float: left;
	float: right;
	font-size:2em;
}
.recipe li {
	font-size: 0.75em;
}
.recipe img{
	
	height: 200px;
	width:15%	
	margin-left:2%;
}
.recipe input
{
	width:50%;
	height: 100px;
margin-left: 0.5%;
margin-bottom: 5px;

background-color: #e8eeef;
  color: black;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.3) inset;
  //margin:0 3% 30px 3%;
}

.recipe button
{margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10%;
}
.recipe label
{font-weight: bold;
	font-size: 1em;
	margin-left: 0.5%;
}