@media screen and (min-width: 480px)
{
	
/**********************************
2 colum
*********************************/
#primary
{
	width:50%;
	float:left;
}	
#secondary
{
	width:50%;
	float:right;
}	
/**********************************
index page layout
*********************************/
#photo li
{
	width: 28.3333%;
	margin:2.5%;
}
#photo li:nth-child(4n)
{clear:left;
}
/*#photo1 li
{
	width: 28.3333%;
	margin:2.5%;
}
/*#photo1 li:nth-child(4n)
{
	clear:left;
	
}*/
#photo2 li
{
	width: 28.3333%;
	margin: 2.5%;
}
#photo2 li:nth-child(4n)
{
	clear:left;
}
#photo3 li
{
	width: 28.3333%;
	margin:2.5%;
}
#photo3 li:nth-child(4n)
{clear:left;
}
/**********************************
about layout
*********************************/

.about img
{
	float: left;
	margin: 0 5% 80px 5%;
}


}

@media screen and (min-width: 660px)
{
	
	.about p
	{
		font-size: 1.5em;
	}

	#navigation
{
	/*background-color: green;*/
	color:white;
	/*margin-top:88.5px;*/
	float:right;
	margin-right: 5%;
	text-align: right;
	font-size:1.1em;
	width:45%;
	position: absolute; 
	bottom: -2px;
	right: 0;
	min-width: 450px; 

}
#heading
{
	background:none;
	float:left;
	margin-left:5%;
	text-align:left;
	width:45%;


}
#heading h1, h2
{
	text-align: left;
	width:45%;
	margin-left: 5%



}
#heading h2
{margin-left: 5%;}
}
.title_bar
{
margin:0;
padding-top: 10px;
padding-bottom: 20px;
display:inline-block;
margin: 0;
width: 100%;
background-color: black;
border:2px solid #999;
position: relative;
}
#primary p, ul
{
	font-size: 1.5em;
}

	}